body {
    background-color: #16161d;
    color: azure;
    text-align: center;
}

h1,
p {
    text-align: center;
    font-size: 1.46rem;
    margin: 16px;
}

button {
    background-color: #3a3a4a;
    color: azure;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    scale: 90%;
}

li {
    list-style-type: none;
}

.book-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-item {
    background-color: #1f1f2e;
    border: 1px solid #3a3a4a;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: center;
}

.add-book-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.inputs {
    display: flex;
    flex-direction: column;
}

input {
    margin: 6px;
    width: 40%;
    align-self: center;
}

input:focus {
    outline: none;
}

.add,
.cancel {
    scale: 80%;
}